.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Application colors */
html {
  --color-background: #142941;
  --color-dark: #2C5A8F;
  --color-highlight: #db7970;
  --color-light: #5a96db;
  --color-accent: #818f33;
  --color-accent-light: #c5db44;
  --color-text: var(--color-light);

  background-color: var(--color-background);
}